* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.42);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-decoration-line: underline;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 93rem;
    margin-top: 2rem;
    position: absolute;
}

#form {
    margin-top: 30rem;
    margin-bottom: 5rem;
    padding: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.para {
    padding: 1rem;
    font-size: 1.5rem;
}

input {
    width: 15rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

input:hover {
    background-color: whitesmoke;
}